extends ./layout/index
  
block contenido 
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre Nosotros", class="img-fluid") 
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id risus ac mauris elementum tincidunt. Morbi arcu ipsum, pharetra vel aliquam id, aliquam sit amet nunc. Sed vel turpis aliquet, pharetra magna lobortis, porttitor ligula. Vivamus mollis, dui ac mattis dignissim, libero velit suscipit nibh, sed ornare eros nulla nec lacus. Donec quis arcu non odio dignissim ultricies. Duis id cursus nisi, quis volutpat purus. Vestibulum facilisis felis elit, sit amet luctus tellus condimentum a.

                p Duis vitae faucibus arcu, in tempor mauris. Quisque at purus in augue egestas interdum. Curabitur ac arcu sed mauris consequat condimentum id nec arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque fermentum mauris non molestie dictum. Phasellus sit amet ipsum odio. Morbi in dictum nulla, quis rutrum nibh.

                p Etiam id felis urna. Aliquam mattis dapibus tincidunt. Aliquam blandit ligula et ligula cursus accumsan. Etiam elementum massa vel mauris varius posuere. Vestibulum placerat sem interdum magna faucibus mattis. Aliquam quis gravida diam, malesuada pharetra velit. Nullam vel orci imperdiet mauris tincidunt semper. Curabitur pulvinar, ante at tincidunt tincidunt, nulla velit laoreet odio, sed iaculis urna tellus et massa. Mauris dapibus et lectus iaculis consectetur.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Etiam id felis urna. Aliquam mattis dapibus tincidunt. Aliquam blandit ligula et ligula cursus accumsan. Etiam elementum massa vel mauris varius posuere. Vestibulum placerat sem interdum magna faucibus mattis. Aliquam quis gravida diam, malesuada pharetra velit.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destinos", class="img-fluid mb-4")
                    h2.mb-4 Los mejores Destinos
                    p Etiam id felis urna. Aliquam mattis dapibus tincidunt. Aliquam blandit ligula et ligula cursus accumsan. Etiam elementum massa vel mauris varius posuere. Vestibulum placerat sem interdum magna faucibus mattis. Aliquam quis gravida diam, malesuada pharetra velit.
                
                .col-md-4
                    img(src="img/icono_precio.svg", alt="Icono Precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Etiam id felis urna. Aliquam mattis dapibus tincidunt. Aliquam blandit ligula et ligula cursus accumsan. Etiam elementum massa vel mauris varius posuere. Vestibulum placerat sem interdum magna faucibus mattis. Aliquam quis gravida diam, malesuada pharetra velit.
                    